.success {
	text-align: center;

	&__title {
		text-align: center;
		margin-bottom: 1.8em;

		@media (max-width: 1170px) {
			margin-bottom: 1.6em;
		}

		@media (max-width: 992px) {
			margin-bottom: 1.4em;
		}

		@media (max-width: 768px) {
			margin-bottom: 1.2em;
		}

		@media (max-width: 480px) {
			margin-bottom: 1em;
		}
	}

	&__content {
		text-align: left;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 3.75em;
		}
	}
}
